<!DOCTYPE html>
    <html>
        <head>
            <title>Abi (Under 10) 50m Back</title>
            <link rel="stylesheet" href="/static/webapp.css" />
        </head>
        <body>
        <h3>Abi (Under 10) 50m Back</h3>
    
            <svg height="30" width="400">
                <rect height="30" width="328.4" style="fill:rgb(0,0,255);" />
            </svg>25.23<br />
        
            <svg height="30" width="400">
                <rect height="30" width="328.4" style="fill:rgb(0,0,255);" />
            </svg>22.11<br />
        
            <svg height="30" width="400">
                <rect height="30" width="314.66" style="fill:rgb(0,0,255);" />
            </svg>26.86<br />
        
            <svg height="30" width="400">
                <rect height="30" width="338.44" style="fill:rgb(0,0,255);" />
            </svg>23.55<br />
        
        <p>Average time: 0:41.43</p>
        <p>M: 25.23 (26.86)<br/>W: 22.11 (23.55)        
        </body>
    </html>
    
